@import 'mixins.scss';

.Navbar_Container {
  @include abs-position(0px, 0px);

  height: 50px;
  width: 100%;

  min-width: 1000px;

  background-color: steelblue;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
  cursor: default;

  #Title {
    @include abs-position(0px, 0px);

    height: 50px;
    width: 100%;
    line-height: 50px;

    margin: 0;
    font-family: gliphicons-halflings-regular, monospace;
    color: white;
    text-align: center;
  }

  #Account {
    @include abs-position(0px, 50px);

    height: 50px;
    line-height: 50px;

    margin: 0;
    font-family: gliphicons-halflings-regular, monospace;
    color: white;
    text-align: left;
  }

  #GitHub {
    @include abs-position(5px, 5px);

    height: 40px;
    width: 40px;

    cursor: pointer;
  }
}
