.Content_Container {
  position: absolute;
  top: 50px;
  left: 0px;
  font-family: gliphicons-halflings-regular, monospace;
}
.Content_Container .Buttons {
  position: absolute;
  top: 20px;
  left: 10px;
}
.Content_Container .Buttons button {
  padding: 0;
  border: none;
  color: white;
  background-color: steelblue;
  transition: background-color ease-in 300ms;
}
.Content_Container .Buttons #But_Data {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 250px;
  font-size: 30px;
}
.Content_Container .Buttons #But_Add {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 250px;
  font-size: 30px;
}
.Content_Container .Buttons #But_Del {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 250px;
  font-size: 30px;
}
.Content_Container .Buttons #But_Pres_Add {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 250px;
  font-size: 30px;
}
.Content_Container .Tables {
  position: absolute;
  top: 20px;
  left: 300px;
}
.Content_Container .Tables #Table_Students {
  position: absolute;
  top: 0;
  left: 0;
  background-color: steelblue;
  border-radius: 10px;
  max-width: 290px;
}
.Content_Container .Tables #Table_Presence {
  position: absolute;
  top: 0;
  left: 300px;
  background-color: steelblue;
  border-radius: 10px;
  max-width: 290px;
}
.Content_Container .Tables th {
  background-color: lightsteelblue;
  border-radius: 10px;
  width: auto;
  white-space: nowrap;
  padding: 5px;
}
.Content_Container .Tables td {
  width: auto;
  white-space: nowrap;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}
.Content_Container .Inputs {
  position: absolute;
  top: 300px;
  left: 10px;
  height: 190px;
  width: 175px;
  padding: 0;
  margin: 0;
  background-color: steelblue;
}
.Content_Container .Inputs #Inputs_Title {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 0;
  color: white;
}
.Content_Container .Inputs #Input_SID {
  position: absolute;
  top: 40px;
  left: 10px;
}
.Content_Container .Inputs #Input_fName {
  position: absolute;
  top: 70px;
  left: 10px;
}
.Content_Container .Inputs #Input_lName {
  position: absolute;
  top: 100px;
  left: 10px;
}
.Content_Container .Inputs #Input_CID {
  position: absolute;
  top: 130px;
  left: 10px;
}
.Content_Container .Inputs #Input_Room {
  position: absolute;
  top: 160px;
  left: 10px;
}

.Navbar_Container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  background-color: steelblue;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.4);
  cursor: default;
}
.Navbar_Container #Title {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin: 0;
  font-family: gliphicons-halflings-regular, monospace;
  color: white;
  text-align: center;
}
.Navbar_Container #Account {
  position: absolute;
  top: 0px;
  left: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0;
  font-family: gliphicons-halflings-regular, monospace;
  color: white;
  text-align: left;
}
.Navbar_Container #GitHub {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

body {
  margin: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px;
}

.field-validation-error {
  color: #b94a48;
}

.field-validation-valid {
  display: none;
}

input.input-validation-error {
  border: 1px solid #b94a48;
}

input[type=checkbox].input-validation-error {
  border: 0 none;
}

.validation-summary-errors {
  color: #b94a48;
}

.validation-summary-valid {
  display: none;
}

.Main_Container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  min-height: 640px;
  min-width: 960px;
  margin: 0;
}
.Main_Container #PP {
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 192px;
  width: 192px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
