<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Attendance</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/scripts/logic.js"></script>
    <script src="../static/scripts/boot.js"></script>
    <script src="../static/scripts/listeners.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/content/site.css">
    <link rel="stylesheet" type="text/css" href="../static/content/navbar.css">
    <link rel="stylesheet" type="text/css" href="../static/content/content.css">
</head>

<body>
<div class="Main_Container">
    <div class="Content_Container">
        <div class="Buttons">
            <button id="But_Data">Get Data</button>
            <button id="But_Add">Add</button>
            <button id="But_Del">Delete</button>
            <button id="But_Pres_Add">Add Presence Entry</button>
        </div>

        <div class="Inputs">
            <p id="Inputs_Title">Inputs</p>
            <label for="Input_SID"></label><input type="number" name="SID" placeholder="Index" id="Input_SID">
            <label for="Input_fName"></label><input type="text" name="fName" placeholder="First name" id="Input_fName">
            <label for="Input_lName"></label><input type="text" name="lName" placeholder="Last name" id="Input_lName">
            <label for="Input_CID"></label><input type="number" name="CID" placeholder="Course number" id="Input_CID">
            <label for="Input_Room"></label><input type="text" name="Room" placeholder="Room" id="Input_Room">
        </div>

        <div class="Tables">
            <table id="Table_Students">
                <tr>
                    <th>Index</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                </tr>
            </table>
            <table id="Table_Presence">
                <tr>
                    <th>Index</th>
                    <th>Course</th>
                    <th>Room</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="Navbar_Container">
        <h1 id="Title">Smart Attendance</h1>
        <h2 id="Account">Repository</h2>
        <img src="../static/images/GitHub.png" alt="GitHub" id="GitHub">
    </div>
    <img src="../static/images/PP.png" alt="PP" id="PP">
</div>
</body>
</html>
