@import 'mixins.scss';


.Content_Container {
  @include abs-position(50px, 0px);

  font-family: gliphicons-halflings-regular, monospace;

  .Buttons {
    $button-distance: 50px;
    $button-width: 250px;

    @include abs-position(20px, 10px);

    button {
      padding: 0;
      border: none;
      color: white;
      background-color: steelblue;
      transition: background-color ease-in 300ms;
      outline: 0;
      cursor: pointer;
    }

    @mixin button-position($hierarchy) {
      @include abs-position($button_distance * $hierarchy, 0px);
    }

    #But_Data {
      @include button-position(0);

      width: $button-width;

      font-size: 30px;
    }

    #But_Add {
      @include button-position(1);

      width: $button-width;

      font-size: 30px;
    }

    #But_Del {
      @include button-position(2);

      width: $button-width;

      font-size: 30px;
    }

    #But_Pres_Add {
      @include button-position(3);

      width: $button-width;

      font-size: 30px;
    }
  }

  .Tables {
    position: absolute;
    top: 20px;
    left: 300px;

    #Table_Students {
      position: absolute;
      top: 0;
      left: 0;
      background-color: steelblue;
      border-radius: 10px;

      max-width: 290px;
    }

    #Table_Presence {
      position: absolute;
      top: 0;
      left: 300px;
      background-color: steelblue;
      border-radius: 10px;

      max-width: 290px;
    }

    th {
      background-color: lightsteelblue;
      border-radius: 10px;

      width: auto;
      white-space: nowrap;
      padding: 5px;
    }

    td {
      width: auto;
      white-space: nowrap;

      background-color: white;
      border-radius: 10px;
      padding: 5px;
    }
  }
}
